*.o
a.out
*~
*.py[co]
test

exercises/ex05/data
exercises/ex09/fork
exercises/ex12/counter
exercises/ex13/word_count
exercises/web_server/tcpcli01
exercises/web_server/tcpserv01
exercises/ex03/tee
exercises/ex04/trout
exercises/ex05/*
!exercises/ex05/*.*
exercises/ex06/list
exercises/ex07/hash
exercises/ex08/*
!exercises/ex08/*.*
!exercises/ex08/Makefile
